@use "@styles/base/mixins";
@use "@styles/base/variables";
 
.wrapper { 
   @include mixins.flex-column;
   padding: 0 12px;
   
   min-height: 100%;
   gap: 28px;

   &.landscape {
      justify-content: center;
   }

   &.portrait {
      justify-content: flex-end;
   }

   &.small button {
      width: 32px;
      height: 32px;

      .count {
         font-size: 1rem;
      }
   }

   img {
      width: 100%;
      height: 100%;
   }

   button {
      cursor: pointer;
      position: relative;
      display: block;
      width: 48px;
      height: 48px;
      background-color: rgba($color: #fff, $alpha: 0.1);
      border-radius: 999px;
      transition: all 0.5s ease;

      &:hover {
         background-color: rgba($color: #fff, $alpha: 0.07);
      }

      > span {
         @include mixins.flex-center;
      }

      .icon {
         color: #fff;
         width: 24px;
         height: 24px;
      }

      .count {
         position: absolute;
         top: 100%;
         left: 50%;
         margin-top: 4px;
         translate: -50% 0;
         color: #fff;
         font-size: 1.2rem;
         font-weight: 500;
      }
   }

   .avatar-btn {
      .avt-img {
         width: 100%;
         height: 100%;
         border-radius: 999px;
         overflow: hidden;
      }

      .follow-icon {
         position: absolute;
         top: 100%;
         left: 50%;
         translate: -50% -50%;
         background-color: variables.$primary-color;
         width: 24px;
         height: 24px;
         border-radius: 999px;
         @include mixins.flex-center;

         &.followed {
            background-color: #252525;

            .icon {
               color: variables.$primary-color !important;
            }
         }
         
         .icon {
            width: 14px;
            height: 14px;
            cursor: pointer;
         }
      }
   }

   .like-btn {
      &.active {
         .icon {
            color: variables.$primary-color;
         }
      }
   }

   .favorite-btn {
      &.active {
         .icon {
            color: rgb(250, 206, 21);
         }
      }
   }

   .share-btn {
      .icon {
         translate: 3px 1px;
      }
   }
}