@use "@styles/base/mixins";
@use "@styles/base/variables";

.wrapper {
   $width: 54px;
   height: 24px;
   width: 64px;
   background-color: rgba($color: black, $alpha: 0.2);
   border-radius: 999px;
   @include mixins.flex-center;
   padding: 8px;
   position: relative;

   &::after {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      border-radius: 999px;
      // background-color: rgba($color: red, $alpha: 0.1);
      background-color: transparent;
      z-index: 99;
   }
   
   .slider-track {
      width: 100%;
      height: 2px;
      background-color: rgba($color: black, $alpha: 0.1);
      position: relative;
      border-radius: 999px;

      .slider-fill {
         height: 100%;
         background-color: white;
      }

      .slider-thumb {
         transform-origin: 50% 50%;
         width: 12px;
         height: 12px;
         border-radius: 999px;
         background: white;
         position: absolute;
         top: 0;
         translate: 0 -50%;
         z-index: 100;
      }
   }
}