@use "@styles/base/variables";
@use "@styles/base/mixins";


.wrapper {
   width: 100%;
   @include mixins.flex-row;
   gap: 12px;
   
   .avt-wrapper, .inner-header, .content, .left-part, .right-part {
      animation: skeletonLoading 3s infinite ease-in-out;
   }

   .avt-wrapper {
      width: 40px;
      height: 40px;
      border-radius: 999px;
   }

   .inner {
      color: variables.$text-color;
      flex: 1;
      @include mixins.flex-column;
      gap: 4px;


      .inner-header {
         height: 20px;
         width: 60px;
         border-radius: 4px;
      }

      .content {
         height: 20px;
         width: 100%;
         border-radius: 4px;
      }

      .inner-footer {
         @include mixins.flex-row;
         justify-content: space-between;
         color: rgba(255, 255, 255, 0.6);
         font-size: 1.4rem;

         .left-part,
         .right-part {
            @include mixins.flex-row;
            align-items: center;
         }

         .left-part {
            border-radius: 4px;
            height: 20px;
            width: 100px;
         }

         .right-part {
            border-radius: 4px;
            height: 20px;
            width: 80px;
         }
      }
   }
}

@keyframes skeletonLoading {
   0% {
      background-color: rgba(255, 255, 255, 0.1);
   }

   25% {
      background-color: rgba(255, 255, 255, 0.2);
   }

   50% {
      background-color: rgba(255, 255, 255, 0.3);
   }

   75% {
      background-color: rgba(255, 255, 255, 0.2);
   }

   100% {
      background-color: rgba(255, 255, 255, 0.1);
   }
}
