@use "../../../base/variables";
@use "../../../base/mixins";

.alert {
   position: fixed;
   top: 12px;
   left: 50%;
   translate: -50% 0;
   padding: 8px 16px;
   background-color: rgba(77, 77, 77, 1);
   border-radius: 4px;
   z-index: 999;

   span {
      color: variables.$text-color;
   }
}


