@use '@styles/base/variables';
@use '@styles/base/mixins';

.button {
   width: 336px;
   height: 44px;
   @include mixins.flex-row;
   align-items: center;
   justify-content: center;
   position: relative;
   padding: 0 12px;
   background-color: rgba(255, 255, 255, 0.08);
   border-radius: 8px;
   border: 1px solid transparent;
   cursor: pointer;

   &:hover {
      border-color: variables.$text-color;
      background-color: rgba(0, 0, 0, 0.1);
   }

   .icon-wrapper {
      position: absolute;
      left: 12px;
      top: 50%;
      translate: 0 -50%;
      display: flex;

      .icon {
         color: variables.$text-color;
         width: 20px;
         height: 20px;
      }
   }

   .label {
      color: variables.$text-color;
      font-weight: 500;
   }
}