@use "../../../../base/variables";
@use "../../../../base/mixins";

.wrapper {
   width: 100%;
   position: relative;
   @include mixins.flex-column;

   .avt-frame {
      width: 100%;
      height: 100%;
      // mask-image: radial-gradient(
      //    circle,
      //    black 42.5%,
      //    rgba(0, 0, 0, 0.5) 42.5%
      // );
      //42.5% diagonal of parent element
      position: relative;
      user-select: none;
      @include mixins.flex-center;

      .img {
         cursor: move;
         // height: auto;
         // width: 360px;
         max-height: 100%;
         max-width: 100%;
         object-fit: cover;

         &.portrait {
            height: auto;
            width: 360px;
         }

         &.landscape {
            height: 360px;
            width: auto;
         }

         &.transition {
            transition: transform 0.3s ease-out;
         }
      }
      // }
   }

   .zoom-control {
      position: absolute;
      translate: -50%;
      bottom: 0;
      left: 50%;
      @include mixins.flex-row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 42px;

      span {
         color: variables.$text-color;
      }

      .range {
         width: 320px;
      }
   }
}
