.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  width: var(--default-layout-width);
  display: flex;
}
.content {
  flex: 1;
  background-color: #888888;
  min-height: 1000px;
}
